@import "../node_modules/bootstrap-less-port/less/bootstrap";

/* Stylesheet */
// Colours
@dark-dove: #f0f0f0;
@dark-dove-border: #e4e4e4;
@dove-grey: #f8f8f8;
@dark-grey: #444444;
@option-grey: #f2f1f1;

body {
  background-color: @dark-grey;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
  background-color: @white;
}

.vehicle-header {
  background-color: @dark-dove;
  border-bottom: 1px solid @dark-dove-border;
  padding: 1rem;
}

.trip-summary {
  background-color: @dove-grey;
}

.option {
  border: 1px solid @dark-dove-border;
  padding: 0.5rem;
  margin-bottom: 2rem;
  &.selected,&:hover,&:focus {
    box-shadow: 0px 0px 15px @dark-dove-border;
  }

  // extend custom controls
  .custom-control {
    margin-bottom: 0.25rem;
    padding: 1rem 1rem 1rem 2rem;

    &.custom-radio {
      background-color: @option-grey;

    .custom-control-label {
      font-weight: 600;
      text-indent: 1.5rem;
      &:after {
        background-size: 68% 68%;
        top: 0rem;
        left: -1.75rem;
        width: 1.5rem;
        height: 1.5rem;
      }
      &:before {
        background-color: @white;
        border: 0.5px solid @dark-grey;
        top: 0rem;
        left: -1.75rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    .custom-control-input:checked ~ .custom-control-label {
      &:after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-5 -5 10 10'%3E%3Ccircle r='5' fill='%234a90e2'/%3E%3C/svg%3E");
      }
      &:before {
        background-color: @white;
        border: 0.5px solid @dark-grey;
      }
    }
    }
  }

}
